* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  text-align: end;
}

#jumbotron > .container {
  min-height: 75vh;
}
@media (min-width: 1200px) {
  .w-lg-1-3 {
    width: calc(100% / 3);
  }
}
.btn-primary {
  background-color: red;
  border-radius: 20px;
}
.main-banner {
  text-align: center;
}
.text-p {
  color: rgb(120, 120, 120);
}
.btn-secondary {
  background-color: rgb(26, 99, 255);
  border-radius: 20px;
}
