* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  text-align: end;
}

#jumbotron > .container {
  min-height: 60vh;
}
#jumbotron {
  background-image: url(./img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
}

@media (min-width: 1200px) {
  .w-lg-1-3 {
    width: calc(100% / 3);
    color: white;
  }
}
.btn-primary {
  background-color: red;
  border-radius: 20px;
}

.btn-secondary {
  background-color: rgb(26, 99, 255);
  border-radius: 20px;
}

.img-fluid {
  border-radius: 20px;
}

.description-img {
  text-align: center;
}

#jumbotron2 > .container {
  min-height: 60vh;
}

#jumbotron2 {
  background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
}
